@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.ReactModal__Overlay {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.ReactModal__Content {
  width: 50%;
  margin: auto;
  height: min-content;
  background-image: url('../assets/bg.jpg') !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.modal {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  width: 100%;
  color: white;
}

form {
  display: flex;
  flex-direction: column;

  .input-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

    .input-box {
      display: flex;
      flex-direction: column;

      &.check {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        div {
          margin: 0;
        }

        input {
          height: 15px;
          width: 15px;
        }
      }

      div {
        font-size: smaller;
        font-weight: bold;
        margin-bottom: 5px;
      }

      input, textarea {
        padding: 10px;
        font-family: 'DM Sans', sans-serif;
        outline: none;
        background-color: transparent;
        color: white;
        border: 1px solid white;
      }

      textarea {
        height: 80px;
        resize: none;
      }


      input[type="datetime-local"] {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          top: 9px;
          right: 10px;
          width: 20px;
          height: 20px;
          background-image: url('../assets/calendar.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          pointer-events: none;
        }
      }
    }
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
  }

  button {
    width: fit-content;
    padding: 10px 70px;
    background-color: transparent;
    border: 1px white solid;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    margin: 40px auto 20px;
    font-family: 'DM Sans', sans-serif;


    &:hover {
      background-color: rgb(124, 124, 124, 0.08);
      transition: 500ms;
    }
  }
}
